<div class="col mb-4">
    <div class="card">
        <div class="row no-gutters">
             <div class="col col-4 col-md-4">
                <img src="./img/{{dataValues.petType}}.png" class="card-img" alt="{{dataValues.petType}} Food">
            </div>
            <div class="col col-8 col-md-8">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{dataValues.brandName}}</h6>
                    <p class="card-text">{{dataValues.foodName}}</p>
                    <a href="/petfood/{{dataValues.id}}" class="card-link">Show Product</a>
                </div>
            </div>
        </div>
    </div>
</div>
