<!-- Product -->
<section class="content-section" id="productDetail">
    <div class="container">
        <div class="row main">
            <h1 class="font-weight-bold">Pet Food Analyzer</h1>
            {{#with product}}
            <div class="col-md-12">

                <div class="">
                    <h2 class="card-text">{{dataValues.foodName}} by {{dataValues.brandName}} for
                        your {{dataValues.petType}}
                    </h2>
                </div>
                <hr>
                <p>Type of food: {{dataValues.foodType}}</p>
                <h3><u>Ingredients*:</u></h3>
                <p>&nbsp;&nbsp;{{dataValues.ingred001}}</p>
                <p>&nbsp;&nbsp;{{dataValues.ingred002}}</p>
                <p>&nbsp;&nbsp;{{dataValues.ingred003}}</p>
                <p>&nbsp;&nbsp;{{dataValues.ingred004}}</p>
                <p>&nbsp;&nbsp;{{dataValues.ingred005}}</p>
            </div>
            {{/with}}
        </div>
        <footer style="  position: absolute; bottom: 0; height: 60px;">*On a product label, the ingredients are listed
            in order of predominance, with the
            ingredients used in the greatest amount first, followed in descending order by those in smaller amounts.
        </footer>

    </div>

    </div>

</section>